body {
    margin: 0;
    padding: 0;
  }

.ForgotPassword {
    background: linear-gradient(#2A00B7, #42006C);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#3c009d;
}

.forgot-container h2 {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 2%;
}

.underline {
    margin-top: 0px;
    width: 61px;
    height: 6px;
    background :#3c009d;
    border-radius: 9px;
    margin-bottom: 10%;
}

.forgot-container {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forgot-container label,
.forgot-container input,
.forgot-container form {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.forgot-container input {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #f4f4f4;
}

.forgot-container button {
    background-color: #3c009d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1%;
}

text-danger {
    color: red;
}